*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

nav :where(ol, ul) {
  list-style: none;
}




img,
picture {
  width: 100%;
  max-width: 100%;
  display: block;
}

.name {
  color: #223B61;
  font-family: "Hate Your Writing";
  font-size: 200px;
}

.extra {
  color: #223B61;
  font-family: "Hate Your Writing";
  font-size: 64px;
  letter-spacing: 14px;
}

h1 {
  color: #223B61;
  font-family: "Hate Your Writing";
  font-size: 48px;
}

.title {
  position: absolute;
  font-size: 90px;
  text-align: center;
  width: 100%;
  top: 0%
}

h3 {
  color: #223B61;
  font-family: "Hate Your Writing";
  font-size: 40px;
  text-align: left;
}

p {
  color: black;
  font-family: "Crimson Text";
  font-size: 20px;
  text-align: left;
  margin-bottom: 3%;
  line-height: 150%;
}

a .weblink:visited {
  color:#223B61;
}

.weblink {
  color: white;
  text-align: left;
  text-decoration: none;
}

body {
    background: #223B61;
}

.stackParagraphs {
  position: absolute;
  width: 90%;
  left: 5%;
  top: 5%;
  display: flex;
  flex-direction: column;
  height: 90%;
}

h2 {
    color: white;
    font-family: "Hate Your Writing";
    font-size: 64px;
    font-weight: 400;
}

Nav {
  position: absolute;
  height: 100%;
  width: 15%;
  margin-left: 1.5%;
}

.projectsNav {
  position: absolute;
  width: 97%;
  height: 12.5%;
  display: flex;
  flex-direction: row;
  left: 0px;
  margin-top: 15px;
  align-items: flex-start;
  overflow-x: scroll;
}

.nav-div {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 20%;
  margin: auto;
  display: flex;
  flex-direction: column;
}


.navbar {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projBar {
  position: absolute;
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  overflow: scroll;
}

Footer {
  position: absolute;
  font-family: "Crimson Text";
  font-size: x-small;
  color: white;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
}

.center {
  position: absolute;
  margin: auto;
  width: 50%;
  top: 25%;
}

.link {
  font-family: "Crimson Text";
  color: white;
  font-size: medium;
}

.proj {
  font-size: 48px;
  width: 225px;
  height: 75px;
  background-color: transparent;
  border: none;
  text-align: center;
  word-wrap: break-word;
  color: white;
  border-radius: 25px;
  text-decoration: none;
  left: 25%;
  top: 0px;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 0.5%;
}

.proj:hover {
  box-shadow: 0px 10px 8px 0px rgba(0,0,0,0.57);
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
}

.klondike {
  font-family:'Courier New', Courier, monospace;
  font-size: 30px;
  color: black;
}

.snipe {
  font-family: "Londrina Shadow";
  color: red;
}

.wordle {
  font-family: "Helvetica Neue";
  color: green;
  font-weight: bold;
}

.website {
  font-family: "Hate Your Writing";
  font-size: 72px;
  color: #223B61;
  line-height: 80%;
}



button {
  font-family: "Hate Your Writing";
  font-size: 48px;
  width: fit-content;
  color: white;
  background-color: transparent;
  border: none;
  left: 25%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  height: 400px;
  
}

button:hover {
  cursor: pointer;
}

button:focus {
  border-radius: 25px;
  text-decoration: underline;
}

.primary {
  font-family: "Hate Your Writing";
  font-size: 48px;
  width: fit-content;
  color: white;
  background-color: transparent;
  border: none;
  left: 25%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  height: 400px;
  text-decoration: none;
}

.sidebyside {
  height: 100%;
  width: 100%;
  position: absolute;
}


.logomark {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.learnmore {
  appearance: none;
  background-color: transparent;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Hate Your Writing";
  font-size: 64px;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  padding: 16px 24px;
  text-align: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
  width: 200px;
  will-change: transform;
  height: 100%;
  position: absolute;
  left: 20%;
}

.learnmore:disabled {
  pointer-events: none;
}

.learnmore:hover {
  color: #223B61;
  letter-spacing: 14px;
  background-color: #C0E1FF;
  border-radius: 100px;
  height: min-content;
  width: 400px;
  text-align: center;
  position: absolute;
  left: 15%;
}

.learnmore:active {
  color: #C0E1FF;
  color: transparent;
}

.MoreButton {
  position: absolute;
  bottom: 5%;
  height: 11.5%;
  width: 70%;
  left: 25%;
}

.Puddles {
  width: 100%;
  height: 100%;
  position: fixed;
}

.BigPuddle {
  
  align-items: center;
  justify-items: center;
  position: absolute;
  display: grid;
  left: -10%;
}

.BigPuddle > * {
	grid-area: 1/1/1/1;
}

.right {
  position: absolute;
  align-items: center;
  height: 100%;
  width: 50%;
  order: 2;
  right: 0px;
}

.SmallPuddle {
  display: grid;
	align-items: center;
	justify-items: center;
  position: absolute;
  top: 0px;
  width: 80%;
  height: max-content;
  right: 5%;
}

.SmallPuddle > * {
	grid-area: 1/1/1/1;
}

.cascade {
  text-align: center;
  width: 80%;
  position: relative;
}

.learnmore {
  width: 300px;
  height: max-content;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

[aria-current="page"] {
  text-decoration-line: underline;
}

[aria-current="proj"] {
  box-shadow: inset 0px 5px 5px -2.5px rgba(0,0,0,0.57);
}

.screen {
  border-radius: 25px;
  height: 95%;
  width: 80%;
  right: 2.5%;
  top: 2.5%;
  position: absolute;
  text-align: center;
}

.section {
  border-radius: 25px;
  height: 87.5%;
  width: 80%;
  right: 2.5%;
  bottom: 2.5%;
  position: absolute;
  overflow: scroll;
}

.projectSection {
  position: absolute;
  height: 95%;
  width: 105%;
  left: -5%;
  bottom: 0;
}

.leftAboutMe {
  position: absolute;
  width: 35%;
  height: 100%;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PFP {
  position: absolute;
  width: 80%;
  top: 5%;
}

.links {
  position: absolute;
  font-size: 28px;
  font-family: "Crimson Text";
  text-align: center;
  left: 10%;
  width: 90%;
  top: 55%;
  font-weight: bold;
  list-style-type: none;
}

.Info {
  position: absolute;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 20px;
}

.infoTextDiv {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.infoText {
  color: white;
  font-family: "Crimson Text";
  font-size: 24px;
}

.rightAboutMe {
  position: absolute;
  width: 70%;
  height: 100%;
  right: 0px;
}

.aboutMeInfo {
  height: 30%;
  position: absolute;
  top: 10%;
}

.showcase {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.showcase .text {
  width: 100%;
  top: 0px;
}

.showcase .images {
  position: absolute;
  width: 40%;
  bottom: 0px;
}

.white {
  background-color: white;
  width: 90%;
}

.lightBlue {
  background: #C0E1FF;
}




.resumeLayout {
  position: absolute;
  width: 100%;
  height: 100%;

}


.resume {
  height: 95%;
  width: 50%;
  left: 2.5%;
  top: 2.5%;
  border: 3px solid white;
  position: absolute;
}

.contactMe {
  position: absolute;
  width: 45%;
  right: 1.5%;
  top: 20%;
  display: flex;
  		flex-direction: column;
  		justify-content: center;
  		align-items: center;
}

.form {
  position: absolute;
  top: 15%;
  left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 80%;
}

.form .title {
  position: absolute;
  top: 0px;
  font-size: 48px;
  text-transform: uppercase;
}

.form .name {
  position: absolute;
  flex-direction: row;
  width: 100%;
  top: 50px;
  left: 0px;
  
}

.form .email {
  position: absolute;
  flex-direction: row;
  width: 100%;
  top: 100px;
  left: 0px;
}

label {
  font-family: "Hate Your Writing";
  color: #223B61;
  font-size: 40px;
  position: absolute;
  text-align: left;
  left: 5px;
  width: 20%;
} 

.msg {
  position: absolute;
  top: 37%;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  position: absolute;
  color: #223B61;
  width: 80%; /* Full width */
  background-color: transparent;
  border: transparent;
  border-bottom: 3px solid #223B61; /* Gray border */
  right: 0px;
  height: 45px;
  font-family: "Crimson Text";
  font-size: 20px;
  padding-left: 2.5%;
}

textarea {
  width: 100%;
  height: 37.5%;
  top: 47.5%;
  position: absolute;
  border: 3px solid #223B61;
  padding: 2.5%;
  font-family: "Crimson Text";
  font-size: 20px;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: transparent;
  color: #223B61;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 40px;
  font-family: "Hate Your Writing";
  bottom: 0px;
  position: absolute;
  width: max-content;
  text-align: center;
  left: 40%;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  text-decoration: underline;
  
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: transparent;
  padding: 20px;
}