/*
idk what these do
*/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

nav :where(ol, ul) {
  list-style: none;
}

img,
picture {
  width: 100%;
  max-width: 100%;
  display: block;
}

body {
  background: #223B61;
}

Footer {
  position: absolute;
  font-family: "Crimson Text";
  font-size: x-small;
  color: white;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
}

button {
  font-family: "Crimson Text";
  font-size: 40px;
  width: fit-content;
  color: white;
  background-color: transparent;
  border: none;
  left: 25%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  height: 400px;
}

button:hover {
  cursor: pointer;
}

/*
text and section colors
*/

.name {
  color: #223B61;
  font-family: "Rock 3D";
  font-size: 80px;
}

.extra {
  color: #223B61;
  font-family: "Crimson Text";
  font-size: 40px;
  letter-spacing: 20px;
}

.title {
  position: absolute;
  font-size: 90px;
  text-align: center;
  width: 100%;
  top: 0%
}

h1 {
  color: #223B61;
  font-family: "Crimson Text";
  font-size: 48px;
}

h2 {
  color: white;
  font-family: "Crimson Text";
  font-size: 36px;
  font-weight: 400;
}

h3 {
  color: #223B61;
  font-family: "Rock 3D";
  font-size: 36px;
  text-align: left;
}

p {
  color: black;
  font-family: "Crimson Text";
  font-size: 20px;
  text-align: left;
  margin-bottom: 3%;
  line-height: 150%;
}

.white {
  background-color: white;
  width: 90%;
}

.lightBlue {
  background: #C0E1FF;
}

/*
    COMPONENTS
*/

/*
nav
*/

Nav {
  position: absolute;
  height: 100%;
  width: 15%;
  margin-left: 1.5%;
}

.nav-div {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 20%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.navbar {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.primary {
  font-family: "Crimson Text";
  font-size: 32px;
  width: fit-content;
  color: white;
  background-color: transparent;
  border: none;
  left: 25%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  height: 400px;
  text-decoration: none;
}

.primary:hover {
  text-decoration: none;
}

[aria-current="page"] {
  font-family: "Rock 3D";
  text-transform: uppercase;
}

/*
showcase
*/

.showcase {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid red;
}

.visuals {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0px;
  border: 3px solid orange;
  padding: 2.5%;
}

.showcase .info {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0px;
  border: 3px solid orange;
  padding: 2.5%;
}

/*
    PAGES
*/

/*
index aka landing page

left side: big puddle
right side: small puddle and learn more button
*/
.Puddles {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
}

.BigPuddle {
  
  align-items: center;
  justify-items: center;
  position: absolute;
  display: grid;
  left: -10%;
}

.BigPuddle > * {
	grid-area: 1/1/1/1;
}

/**/

.right {
  position: absolute;
  align-items: center;
  height: 100%;
  width: 50%;
  order: 2;
  right: 0px;
}
/**/
.SmallPuddle {
  display: grid;
	align-items: center;
	justify-items: center;
  position: absolute;
  top: 0px;
  width: 80%;
  height: max-content;
  right: 5%;
}

.SmallPuddle > * {
	grid-area: 1/1/1/1;
}

.cascade {
  height: 100%;
  width: 100%;
  position: relative;
}

.lefttop {
  position: relative;
  width: fit-content;
  top: 35%;
  left: 10%;
  font-size: 40px;
}

.middle {
  position: relative;
  width: fit-content;
  top: 45%;
  left: 50%;
  font-size: 40px;
}

.bottomright {
  position: relative;
  width: fit-content;
  top: 60%;
  left: 30%;
  font-size: 40px;
}
/**/

.MoreButton {
  position: absolute;
  bottom: 0px;
  height: 30%;
  width: 70%;
  left: 25%;
  align-items: center;
}

.learnmore {
  height: 100px;
  position: absolute;
  bottom: 25%;
  appearance: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Crimson Text";
  font-size: 45px;
  margin: 0;
  width: 400px;
  padding: 16px 24px;
  text-align: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  position: absolute;
  left: 15%;
}

.learnmore:hover {
  color: #C0E1FF;
  letter-spacing: -5px;
  font-family: "Rock 3D";
  font-size: 48px;
}

.learnmore:enabled {
  text-decoration: none;;
}





/*
about me
*/

/*left side*/
.leftAboutMe {
  position: absolute;
  width: 35%;
  height: 100%;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PFP {
  position: absolute;
  width: 80%;
  top: 5%;
}

.links {
  position: absolute;
  font-size: 28px;
  font-family: "Crimson Text";
  text-align: center;
  left: 10%;
  width: 90%;
  top: 55%;
  font-weight: bold;
  list-style-type: none;
}

.weblink {
  color: #223B61;
  text-align: left;
  text-decoration: none;
}

.weblink:hover {
  text-decoration: underline;
}

a .weblink:visited {
  color:#223B61;
}

.Info {
  position: absolute;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 20px;
}

.infoTextDiv {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.infoText {
  color: white;
  font-family: "Crimson Text";
  font-size: 24px;
}

/*right about me*/
.rightAboutMe {
  position: absolute;
  width: 67.5%;
  height: 100%;
  right: 0px;
}

.aboutMeSection {
  height: 85%;
  width: 95%;
  left: 2.5%;
}

.stackParagraphs {
  position: absolute;
  width: 90%;
  left: 5%;
  top: 5%;
  display: flex;
  flex-direction: column;
  height: 90%;
  padding-bottom: 5%;
}

.slideshow {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.slideshow .text {
  width: 100%;
  top: 0px;
}

.slideshow .images {
  position: absolute;
  width: 40%;
  bottom: 0px;
}

/*
project
*/

.projectsNav {
  position: absolute;
  width: 97%;
  height: 12.5%;
  display: flex;
  flex-direction: row;
  left: 0px;
  margin-top: 15px;
  align-items: flex-start;
  overflow-x: scroll;
}

.projBar {
  position: absolute;
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.proj {
  font-size: 48px;
  width: 225px;
  height: 75px;
  background-color: transparent;
  border: none;
  text-align: center;
  word-wrap: break-word;
  color: white;
  border-radius: 25px;
  text-decoration: none;
  left: 25%;
  top: 0px;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 0.5%;
}

.proj:hover {
  box-shadow: 0px 10px 8px 0px rgba(0,0,0,0.57);
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
}

.klondike {
  font-family:'Courier New', Courier, monospace;
  font-size: 30px;
  color: black;
}

.snipe {
  font-family: "Londrina Shadow";
  color: red;
}

.floodit {
  font-family: "VT323";
  color: #ffaaf4;
  font-size: 60px;
  text-transform: uppercase;
}

.wordle {
  font-family: "Helvetica Neue";
  color: green;
  font-weight: bold;
  text-transform: uppercase;
}

.website {
  font-family: "Crimson Text";
  font-size: 50px;
  color: #223B61;
  line-height: 125%;
}

[aria-current="proj"] {
  box-shadow: inset 0px 5px 5px -2.5px rgba(0,0,0,0.57);
  border: 3px solid red;
}

.projectSection {
  position: absolute;
  height: 82.5%;
  width: 97%;
  bottom: 0px;
  border: 3px solid black;
  left: 1.5%;
}

/*
404
*/

.center {
  position: absolute;
  margin: auto;
  width: 50%;
  top: 25%;
}

.link {
  font-family: "Crimson Text";
  color: white;
  font-size: medium;
}











.sidebyside {
  height: 100%;
  width: 100%;
  position: absolute;
}


.logomark {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}







.screen {
  border-radius: 25px;
  height: 95%;
  width: 80%;
  right: 2.5%;
  top: 2.5%;
  position: absolute;
  text-align: center;
}

.section {
  border-radius: 25px;
  position: absolute;
  overflow: scroll;
  background-color: white;
  bottom: 2.5%;
}









/*
resume
*/

.resumeLayout {
  position: absolute;
  width: 100%;
  height: 100%;

}

.resume {
  height: 95%;
  width: 50%;
  left: 2.5%;
  top: 2.5%;
  border: 3px solid white;
  position: absolute;
}

/* right side */

.contactMe {
  position: absolute;
  width: 45%;
  right: 1.5%;
  top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* form */

.form {
  position: absolute;
  top: 15%;
  left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 80%;
}

.form .title {
  position: absolute;
  top: 10px;
  font-size: 28px;
  text-transform: uppercase;
}

.form .name {
  position: absolute;
  flex-direction: row;
  width: 100%;
  top: 50px;
  left: 0px;
  
}

.form .email {
  position: absolute;
  flex-direction: row;
  width: 100%;
  top: 100px;
  left: 0px;
}

label {
  font-family: "Crimson Text";
  color: #223B61;
  font-size: 28px;
  position: absolute;
  text-align: left;
  left: 5px;
  width: 20%;
  top: 5px;
} 

.msg {
  position: absolute;
  top: 38.5%;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  position: absolute;
  color: #223B61;
  width: 80%; /* Full width */
  background-color: transparent;
  border: transparent;
  border-bottom: 3px solid #223B61; /* Gray border */
  right: 0px;
  height: 45px;
  font-family: "Crimson Text";
  font-size: 20px;
  padding-left: 2.5%;
}

textarea {
  width: 100%;
  height: 37.5%;
  top: 47.5%;
  position: absolute;
  border: 3px solid #223B61;
  padding: 2.5%;
  font-family: "Crimson Text";
  font-size: 20px;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: transparent;
  color: #223B61;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 30px;
  font-family: "Crimson Text";
  bottom: 0px;
  position: absolute;
  width: max-content;
  text-align: center;
  left: 35%;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  text-decoration: underline;
  
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: transparent;
  padding: 20px;
}


@media only screen and (max-width: 800px) {
  .Puddles {
    flex-direction: column;
    align-items: center;
  }
}