---
import MainHead from "../layouts/MainHead.astro";
import Nav from "../components/Nav.astro";
import "../styles/custom.css"
import Screen from "../components/Screen.astro"
import ContentLayout from "../layouts/ContentLayout.astro"
import Evelyn_Xiao from "../../public/files/Evelyn_Xiao.pdf"

// component imports 

interface Props {
    title: string;
    description?: string;
}

const {
    title = "Resume",
    description = "Resume"
} = Astro.props as Props;
---

<ContentLayout {title} {description}>
    <div class="resumeLayout">
        <iframe src="/files/Evelyn_Xiao.pdf" class="resume"></iframe>
        <div class="contactMe">
            <img src="/images/ContactPuddle.png">
            <div class="form">
                <h3 class="title">Contact Me</h3>
                <form action="https://formsubmit.co/xiao.ev@northeastern.edu" method="POST">
                    <input type="hidden" name="_next" value="http://localhost:4321/thanks">
                    <div class="name">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" required>
                    </div>
                    <div class="email">
                        <label for="email">Email</label>
                        <input type="text" id="email" name="email" required>
                    </div>
                        <label for="message" class="msg">Message</label>
                        <textarea id="message" name="message" placeholder="Write something.." required></textarea>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</ContentLayout>
