---
import MainHead from "../layouts/MainHead.astro";
import Nav from "../components/Nav.astro";
import "../styles/custom.css"
import Screen from "../components/Screen.astro"
import ContentLayout from "../layouts/ContentLayout.astro"
import Evelyn_Xiao from "../../public/files/Evelyn_Xiao.pdf"

// component imports 

interface Props {
    title: string;
    description?: string;
}

const {
    title = "Resume",
    description = "Resume"
} = Astro.props as Props;
---

<ContentLayout {title} {description}>
    <div class="resumeLayout">
        <iframe src="/files/Evelyn_Xiao.pdf" class="resume"></iframe>
        <div class="contactMe">
            <img src="/images/ContactPuddle.png">
            <h1 style="position: absolute; font-size: 80px;">Thank you!</h1>
            <a href="/Resume" class="link" style="position: absolute; color: #223B61; top: 60%;">go back</a>
        </div>
    </div>
</ContentLayout>
