---
import MainHead from "./MainHead.astro";
import Nav from "../components/Nav.astro"
import Footer from "../components/Footer.astro";

interface Props {
    title: string;
    description?: string;
}

const {
    title = "Evelyn Xiao",
    description = "My personal website demonstrating my projects"
} = Astro.props as Props;
---

<html lang="en">
    <MainHead {title} {description}/>
    <body>
        <slot>Default</slot>
        <Footer/>
    </body>
</html>